.feature-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-white-2);
  padding: 2.5rem;
  font-size: 1.5rem;
  border-radius: 3px;
  transition: all 0.3s;
  backface-visibility: hidden;
  margin-top: 2rem;
  box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.15);
  &__icon {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    cursor: pointer;
  }
}
